@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,900;1,400&display=swap');

$primiaryColor: #eaf1f1;
$secondaryColor: #3c3d3d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  background: $primiaryColor;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

@mixin desktop {
  @media screen and (min-width: 678px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 814px) {
    @content;
  }
}
