@import './config';
@import './navigation';
@import './content';

html {
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
    'nav'
    'content';
}

header {
  font-size: 1.32rem;
  margin: 1.875rem 0.9375rem;
}

.heading-img {
  width: 7rem;
  height: 5rem;
  margin-bottom: 2rem;
}
.sass-logo {
  width: 100%;
  display: block;
  object-fit: cover;
}

@import './responsive';
